#footer {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    background-color: $footer-background;
    padding: 32px 0;
    color: #ffffff;
    text-align: left;
    position: relative;

    .information {
        display: flex;
        justify-content: flex-start;
        padding: 15px 0;

        img {
            width: 150px;
            height: 150px;
            object-fit: cover;
        }

        &-content {
            text-align: left;
            padding-left: 15px;
        }
        h3 {
            font-size: 36px;
        }
        p {
            font-size: 20px;
            line-height: 24px;
        }
    }
    .form-subscribe {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        padding: 15px 0;

        input {
            left: 0;
            top: 38%;
            height: 40px;
            margin-top: 12px;
            width: 100%;
            margin-bottom: 12px;
        }
        
        button {
            background-color: $button-color-blue;
            border: none;
            height: 40px;
            width: 100%;
            font-weight: 500;
            color: white;

            cursor: pointer;
            &:focus{
                outline: none;
                border: none;
            }
        }
    }
    ul {
        list-style: none;
        padding: 0 20px;
        display: flex;
        flex-direction: row;
        li {
            margin-right: 15px;
            img {
                width: 25px;
            }
        }:last-child{
            margin: 0;
        }
    }
}

@media screen and (max-width: 720px) {
    #footer {
        .form-subscribe {
            text-align: center;
        }
        .footer-bottom {
            text-align: center;
            ul {
                justify-content: center;
            }
        }
    }
  }