#header_top {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  background-color: $header-color;
  padding: 15px 0;
  position: relative;
  z-index: 1;

  .header-left {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 16px;
    ul {
      li {
        margin-right: 25px;
      }
    }
  }

  .header-right {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    img {
      width: 25px;
    }

    ul {
      li {
        margin-right: 15px;
      }
      :last-child:after {
        margin: 0;
      }
    }

    .toggle {
      display: flex;
      justify-self: flex-start;
      font-size: 30px;
      color: $blue-text;
      visibility: hidden;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      float: left;
    }
  }
  a {
    text-decoration: none;
    color: $grey-text;
  }
  :hover {
    color: $blue-text;
  }
}

@media screen and (max-width: 480px) {
  #header_top {
    .header-left {
      visibility: hidden;
      display: none;
    }
    .header-right {
      .toggle {
        visibility: visible;
      }
      ul {
        width: 100%;
        display: flex;
        justify-content: flex-end;
      }
      img {
        width: 35px;
      }
    }
  }
}
