#home {
  width: 100%;
  height: auto;
  position: relative;
  color: $grey-text;


  h1 {
    padding-top: 80px;
    font-size: 70px;
    margin: 0;
  }
  p {
    font-size: 20px;
    margin: 0;
  }
  img {
      width: 100%;
  }
}